/*Welcome to your CSS Level One Assessment Test!
For this test, edit the CSS file and complete the commented tasks below!
You won't be editing and html, but the css file is linked to the html file.
Watch the video lecture for more info on this! */

/*Task # 1
Give the body element of the site a light gray background using HEX code*/
body{
  background:#808080;
  font-family: 'Aldrich', sans-serif;
}

/*Task # 2
Change the h1 to have a 4px solid black border*/
/* And center the text. */
h1{
  border:black 4px solid;
  text-align:center;
}

/*Task # 3
Make all h2 elements the color purple*/
h2{
  color: purple;
}


/*Task # 4
Make all input tag boxes have a 5px solid darkblue border */
/* https://www.w3schools.com/css/css_border.asp */
input{
  border-width: 5px;
  border-style: solid;
  border-color: darkblue;
}

/*Task # 6
There is a textarea element with the id=textblock, give it the following properties:
* A 5px solid gray border
* A width of 800px and a height of 400px
 */
 textarea{
   height: 400px;
   border: yellow 4px solid;
   width: 800px;
  }


/*Task # 7
There is a link to Google on the page. Make this link red.*/
a{
  color:red;
}


/*Task # 9
Finally, set all the font to be Aldrich font (or any other Google Font) */
/* https://fonts.google.com/?selection.family=Aldrich */
