Flask==1.1.2
Flask-WTF==0.14.2
Flask-SQLAlchemy
Jinja2==2.11.3
joblib==1.0.1
scikit-learn
MarkupSafe
mysql-connector==2.2.9
mysqlclient==2.1.0
mysql-connector
mysql-connector-python
numpy==1.22.1
pandas==1.4.0
requests==2.26.0
WTForms==2.2.1
