<!DOCTYPE html>
<html>
<head>
<title>Credit Invincible Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Aldrich|Fredoka+One" rel="stylesheet">


<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>DaisyNinjaVirtuoso Productions</a>
  <a href="#assessment" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Assessment</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Your Results</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">The ModSquad</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#assessment" class="w3-bar-item w3-button">Try it Out!</a>
    <a href="#work" class="w3-bar-item w3-button">Your Results</a>
    <a href="#team" class="w3-bar-item w3-button">The ModSquad</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>
</head>

<body id="#">
<!-- Main Container -->
<div class="container"> 
  <!-- Hero Section -->
  <section class="hero" id="hero">
    <span class="light">&nbsp;</span>
  <h1 class="hero_header">
<img src="/static/fintech_advisor.png" alt="" height=85% width=85% class="hero_header"/>
<br>
	  </section></h1>
  <div id="Assessment">
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
    <!-- 
  Replace form-handler.php with URL where to send the form-data when the form is submitted
  Goto http://w3c.github.io/html-reference/input.text.html#input.text for more information on all attributes that can be used with text input field
-->
    <form method="post" action="form-handler.php">
      <div>
        <h2>Start your credit invincible journey by filling out this credit assessment form:</h2>
      <label for="first_name">First Name: <span class="required">*</span></label>
      <input type="text" id="first_name" name="first_name" value="" placeholder="name" required="required" autofocus />
      </div>
      <label for="last_name">Last Name: <span class="required">*</span></label>
      <input type="last_name" id="last_name" name="last_name" value="" placeholder="last_name" required="required" />
    </div>
      <div>
        <label for="email">Email Address: <span class="required">*</span></label>
        <input type="email" id="email" name="email" value="" placeholder="your@email.com" required="required" />
      </div>
      <div>
        <label for="address">Home Address: <span class="required">*</span></label>
        <input type="address" id="address" name="address" value="" placeholder="street" required="required" />
      </div>
      <div>
      <br>
        <h4>What is your highest level of education?</h4>
        <label for="education">Degree:</label>
        <select id="education" name="education">
          <option value="Pick One">Options</option>
          <option value="High School">High School</option>
          <option value="Undergraduate">Undergraduate</option>
          <option value="Graduate">Graduate</option>
          <option value="Doctorate">Doctorate</option>
        </select>
      </div>
      <div>
      <br>
      <h4>Write a brief description of the financial topics that are of interest.</h4>
        <textarea name="textbox" placeholder="Credit card, credit building, personal loan, financial counselling?..." rows="10" cols="109"></textarea>
        <input class="textbox" style="font-size: x-large; cursor: pointer; " type="submit">
    </form>
</div>
{% if final %}
<!-- Recommendation Solutions Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>Your Results</h2>
<p>Based on our analysis of your information, here are the top three financial recommendations for {{final}}:</p>
<img src="/static/make_it_rain_financially.png" alt="financial options" style="width:60%">
</div>

<div class="w3-quarter">
 <div class="w3-card w3-yellow">
  <div class="w3-container w3-hover-green w3-text-black">
  <h3>1st Recommendation</h3>
  <h5>{{final1[0]}}</h5>
  <input type="button" onclick="window.location.href='{{final2[0]}}';" value="website link" />
  </div>
 </div>
</div>

<div class="w3-quarter">
 <div class="w3-card w3-yellow">
  <div class="w3-container w3-hover-green w3-text-black">
  <h3>2nd Recommendation</h3>
  <h5>{{final1[1]}}</h5>
  <input type="button" onclick="window.location.href='{{final2[1]}}';" value="website link" />
  </div>
  </div>
</div>

<div class="w3-quarter">
 <div class="w3-card w3-yellow">
  <div class="w3-container w3-hover-green w3-text-black">
  <h3>3rd Recommendation</h3>
  <h5>{{final1[2]}}</h5>
   <input type="button" onclick="window.location.href='{{final2[2]}}';" value="website link" />
  </div>
 </div>
</div>
{% endif %}
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Meet the MLOps Squad</h2>
<div class="w3-row"><br>

<div class="w3-third">
  <img src="/static/Mani.jpg" alt="Mani" style="width:40%" class="w3-circle w3-hover-opacity">
  <h3>Mani Nagaraj</h3>
  <p>Data Ninja</p>
</div>

<div class="w3-third">
  <img src="/static/Daisy_He.JPG" alt="Daisy" style="width:35%" class="w3-circle w3-hover-opacity">
  <h3>Daisy He</h3>
  <p>Savy Monitor</p>
</div>

<div class="w3-third">
  <img src="/static/sperks_pic.jpeg" alt="Sperks" style="width:50%" class="w3-circle w3-hover-opacity">
  <h3>Sarah Perkins</h3>
  <p>Virtuoso Hacker</p>
</div>
</div>
</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>


<!-- Footer Section -->
<section class="footer_banner" id="contact">
  <h2 class="hidden">Footer Banner Section </h2>
  <p class="hero_header">FOLLOW OUR CREDIT INVINCIBLE ML PROJECT ON GITHUB
<a href="https://github.com/dataninja01/Capstone-Project" target="_blank"></a></p>
</section>

<!-- Copyrights Section -->
<div class="copyright">&copy;daisyninjavirtuoso Productions - 2022&nbsp; <strong>&nbsp;</strong></div>
</div>

<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>MLOps Rulz!</h4>
  <h4>Many sincere thanks to FourthBrain.ai, Greg Loughnane, and Ashwini Badgujar</h4>
  <p>Powered by <a href="https://github.com/dataninja01/Capstone-Project" target="_blank">Credit Invincible Project on GitHub</a></p>
 

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>
</body>
</html>
