<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Credit Invincible</title>
    <link rel="stylesheet" href="CSS_Assessment.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <img src="credit.jpg" alt="">
    <h1>Welcome to Credit Invincible!</h1>
    <br>
    <br>
    <h2>Hi Johnathan!</h2>
      <br>
      <br>
      <div >
        <h3>Here are some of the recommendations based on your input</h3>
      <ol>
        <h5><li>Chime-Credit Builder - https://www.chime.com/ <img src="credit-builder.jpg" alt=""></li></h5>
        <h5><li>Discover-Secured Card - https://www.discover.com/products/secured-card-af.html <img src="discover-secured.jpg" alt=""></li></h5>
        <h5><li>CapitalOne Quicksilver Secured - https://www.capitalone.com/credit-cards/quicksilver-secured <img src="Quicksilver-secured.jpg" alt=""></li></h5>
      </ol>
      <br>
      <br>
      <h5>Thanks so much for visiting this site! </h5>
    </div>



  </body>
</html>
